#![enable(unwrap_newtypes)]
(
time_step: 1e-8,
state: (temperature: 1000, pressure: 101325, volume: 1, amount_proportions: {"H2": 1, "O2": 1, "H2O": 1, "H": 1, "O": 1, "OH": 1, "HO2": 1, "H2O2": 1, "N2": 1}),
species: {
"H2": (
	composition: {H: 2},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(3.29812431, 8.2494417e-4, -8.143015e-7, -9.47543e-11, 4.134872e-13, -1012.52087, -3.29409409),
			(2.99142337, 7.0006441e-4, -5.633829e-8, -9.23158e-12, 1.582752e-15, -835.033997, -1.35511017),
		],
	),
	transport: (well_depth_K: 38, diameter_A: 2.92, geometry: Linear(polarizability_A3: 0.79, rotational_relaxation: 280))
),
"O2": (
	composition: {O: 2},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(3.2129364, 0.0011274863, -5.75615e-7, 1.3138772e-9, -8.76855e-13, -1005.24902, 6.03473759),
			(3.69757819, 6.1351969e-4, -1.258842e-7, 1.775281e-11, -1.13644e-15, -1233.93018, 3.18916559),
		],
	),
	transport: (well_depth_K: 107.4, diameter_A: 3.458, geometry: Linear(polarizability_A3: 1.6, rotational_relaxation: 3.8))
),
"H2O": (
	composition: {H: 2, O: 1},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(3.38684249, 0.0034749825, -6.354696e-6, 6.9685813e-9, -2.50659e-12, -30208.1133, 2.59023285),
			(2.67214561, 0.0030562929, -8.73026e-7, 1.200996e-10, -6.39162e-15, -29899.209, 6.86281681),
		],
	),
	transport: (well_depth_K: 572.4, diameter_A: 2.605, geometry: Nonlinear(rotational_relaxation: 4, permanent_dipole_moment_Debye: 1.844))
),
"H": (
	composition: {H: 1},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(2.5, 0, 0, 0, 0, 25471.627, -0.460117608),
			(2.5, 0, 0, 0, 0, 25471.627, -0.460117638),
		],
	),
	transport: (well_depth_K: 145, diameter_A: 2.05, geometry: Atom)
),
"O": (
	composition: {O: 1},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(2.94642878, -0.001638166, 2.4210317e-6, -1.602843e-9, 3.890696e-13, 29147.6445, 2.96399498),
			(2.54205966, -2.755062e-5, -3.102803e-9, 4.551067e-12, -4.36805e-16, 29230.8027, 4.92030811),
		],
	),
	transport: (well_depth_K: 80, diameter_A: 2.75, geometry: Atom)
),
"OH": (
	composition: {O: 1, H: 1},
	thermodynamic: (
		temperature_ranges: [200, 1000, 6000],
			pieces: [
			(4.12530561, -0.003225449, 6.5276469e-6, -5.798536e-9, 2.062374e-12, 3346.30913, -0.69043296),
			(2.86472886, 0.0010565045, -2.590828e-7, 3.052187e-11, -1.33196e-15, 3683.62875, 5.70164073),
		],
	),
	transport: (well_depth_K: 80, diameter_A: 2.75, geometry: Linear())
),
"HO2": (
	composition: {H: 1, O: 2},
	thermodynamic: (
		temperature_ranges: [200, 1000, 3500],
			pieces: [
			(4.30179801, -0.004749121, 2.1158289e-5, -2.427639e-8, 9.292251e-12, 294.80804, 3.71666245),
			(4.0172109, 0.0022398201, -6.336581e-7, 1.142464e-10, -1.07909e-14, 111.856713, 3.78510215),
		],
	),
	transport: (well_depth_K: 107.4, diameter_A: 3.458, geometry: Nonlinear(rotational_relaxation: 1))
),
"H2O2": (
	composition: {H: 2, O: 2},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(3.38875365, 0.0065692258, -1.485013e-7, -4.625806e-9, 2.471515e-12, -17663.1465, 6.7853632),
			(4.57316685, 0.0043361364, -1.474689e-6, 2.348904e-10, -1.43165e-14, -18006.9609, 0.501136959),
		],
	),
	transport: (well_depth_K: 107.4, diameter_A: 3.458, geometry: Nonlinear(rotational_relaxation: 3.8))
),
"N2": (
	composition: {N: 2},
	thermodynamic: (
		temperature_ranges: [300, 1000, 5000],
			pieces: [
			(3.298677, 0.00140824, -3.963222e-6, 5.641515e-9, -2.44486e-12, -1020.9, 3.950372),
			(2.92664, 0.001487977, -5.684761e-7, 1.009704e-10, -6.75335e-15, -922.7977, 5.980528),
		],
	),
	transport: (well_depth_K: 97.53, diameter_A: 3.621, geometry: Linear(polarizability_A3: 1.76, rotational_relaxation: 4))
),
},
reactions: [
(equation: ({"H": 1, "O2": 1}, {"O": 1, "OH": 1}), rate_constant: (A: 3.547e9, beta: -0.406, Ea: 1.6599e4), model: Elementary),
(equation: ({"O": 1, "H2": 1}, {"H": 1, "OH": 1}), rate_constant: (A: 0.0508, beta: 2.67, Ea: 6290), model: Elementary),
(equation: ({"H2": 1, "OH": 1}, {"H2O": 1, "H": 1}), rate_constant: (A: 216, beta: 1.51, Ea: 3430), model: Elementary),
(equation: ({"O": 1, "H2O": 1}, {"OH": 2}), rate_constant: (A: 2.97, beta: 2.02, Ea: 1.34e4), model: Elementary),
(equation: ({"H2": 1}, {"H": 2}), rate_constant: (A: 4.577e13, beta: -1.4, Ea: 1.0438e5), model: ThreeBody(efficiencies: {"H2": 2.5, "H2O": 12})),
(equation: ({"O": 2}, {"O2": 1}), rate_constant: (A: 6165, beta: -0.5, Ea: 0), model: ThreeBody(efficiencies: {"H2": 2.5, "H2O": 12})),
(equation: ({"O": 1, "H": 1}, {"OH": 1}), rate_constant: (A: 4.714e6, beta: -1, Ea: 0), model: ThreeBody(efficiencies: {"H2": 2.5, "H2O": 12})),
(equation: ({"H": 1, "OH": 1}, {"H2O": 1}), rate_constant: (A: 3.8e10, beta: -2, Ea: 0), model: ThreeBody(efficiencies: {"H2": 2.5, "H2O": 12})),
(equation: ({"H": 1, "O2": 1}, {"HO2": 1}), rate_constant: (A: 1.475e6, beta: 0.6, Ea: 0), model: 
	 Falloff(k0: (A: 6.366e8, beta: -1.72, Ea: 524.8), troe: (A: 0.8, T3: 1e-30, T1: 1e30, T2: 0), efficiencies: {"H2": 2, "H2O": 11, "O2": 0.78})),
(equation: ({"HO2": 1, "H": 1}, {"H2": 1, "O2": 1}), rate_constant: (A: 1.66e7, beta: 0, Ea: 823), model: Elementary),
(equation: ({"HO2": 1, "H": 1}, {"OH": 2}), rate_constant: (A: 7.079e7, beta: 0, Ea: 295), model: Elementary),
(equation: ({"HO2": 1, "O": 1}, {"O2": 1, "OH": 1}), rate_constant: (A: 3.25e7, beta: 0, Ea: 0), model: Elementary),
(equation: ({"HO2": 1, "OH": 1}, {"H2O": 1, "O2": 1}), rate_constant: (A: 2.89e7, beta: 0, Ea: -497), model: Elementary),
(equation: ({"HO2": 2}, {"H2O2": 1, "O2": 1}), rate_constant: (A: 4.2e8, beta: 0, Ea: 1.1982e4), model: Elementary),
(equation: ({"HO2": 2}, {"H2O2": 1, "O2": 1}), rate_constant: (A: 1.3e5, beta: 0, Ea: -1629.3), model: Elementary),
(equation: ({"H2O2": 1}, {"OH": 2}), rate_constant: (A: 2.951e14, beta: 0, Ea: 4.843e4), model: 
	 Falloff(k0: (A: 1.202e11, beta: 0, Ea: 4.55e4), troe: (A: 0.5, T3: 1e-30, T1: 1e30, T2: 0), efficiencies: {"H2": 2.5, "H2O": 12})),
(equation: ({"H2O2": 1, "H": 1}, {"H2O": 1, "OH": 1}), rate_constant: (A: 2.41e7, beta: 0, Ea: 3970), model: Elementary),
(equation: ({"H2O2": 1, "H": 1}, {"HO2": 1, "H2": 1}), rate_constant: (A: 4.82e7, beta: 0, Ea: 7950), model: Elementary),
(equation: ({"H2O2": 1, "O": 1}, {"OH": 1, "HO2": 1}), rate_constant: (A: 9.55, beta: 2, Ea: 3970), model: Elementary),
(equation: ({"H2O2": 1, "OH": 1}, {"HO2": 1, "H2O": 1}), rate_constant: (A: 1e6, beta: 0, Ea: 0), model: Elementary),
(equation: ({"H2O2": 1, "OH": 1}, {"HO2": 1, "H2O": 1}), rate_constant: (A: 5.8e8, beta: 0, Ea: 9557), model: Elementary),
]
)
